{% extends "layout.html" %}
{% block content %}
<br>
<div class="alert alert-info" id="resultat" style="display: none;" role="alert"></div>

<div id="tree_map">
</div>
<div id="popup"></div>
<br>

<div class="panel-group">  
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">
				<a data-toggle="collapse" id="showFiltres" href="#resultats_recherche">Tableau de résultats </a>

			</h3>
		</div>
		<div id="resultats_recherche" class="panel-collapse collapse">

			<div class="panel-body" id="panel-show-data">


				<table class="table table-condensed text-center ">
					<thead>
						<td>RG</td>
						<td>Ville</td>
						<td>Date</td>
						<td>Juridiction</td>
						<td>Quantum demandé</td>
						<td>Quantum resultat</td>
						<td>Objet</td>
						<td>Norme</td>
						<td>Resultat</td>
						<td>Description</td>

					</thead>
					<tbody id="tbody">
						{% for d in data %} 
						<tr>
							<td>{{d[1]}}</td>
							<td>{{d[2]}}</td>
							<td>{{d[3]}}</td>
							<td>{{d[4]}}</td>							
							<td>{{d[7]}}</td>
							<td>{{d[8]}}</td>
							<td>{{d[14]}}</td>
							<td>{{d[16]}}</td>
							<td>{{d[9]}}</td>
							<td> <a href="#" title="{{d[5]}}" onclick="openDescription(this)">Voir</a> </td>
							<!--<td>{{d[5]}}</td> -->

						</tr>
						{% endfor %}
					</tbody>
				</table>

				<ul class="pagination justify-content-center" id="pagination">
					
				</ul>

			</div>
		</div>
	</div>
</div>


<div id="dialog-description" style="display:none;">
	<pre id="content"></pre>
</div>


<div id="dialog-quantum" style="display:none;">
	<div id="histogram">
		</div>
	</div>

	<div id="dialog-filtres" style="display:none;">
		
		<div  style="position:relative; display: inline; margin-left: 10px" >
			Trier par
			<input type="radio" name="sortTree" id="sortTreeCategorie" value="categories" checked />  categories  
			<input type="radio" name="sortTree" id="sortTreeVille" value="villes" />  villes
			
			<button id="clearFiltres" style="position:relative; left:41%;" class="btn btn-sm btn-info">Réinitialiser tout</button>
		</div>					
		<div class="panel-group">  
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">
						<a data-toggle="collapse" id="showFiltres" href="#filtresFullText">Recherche par mot-clé </a>

					</h3>	
				</div>
				<div id="filtresFullText" class="panel-collapse collapse">
					<div class="panel-body">
						<div class="motCle">
							<input type="text" class="form-control input" id="searchByKW">
						</div>					
					</div>
				</div>
			</div>
		</div>

		<div class="panel-group">  
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">
						<a data-toggle="collapse" id="showFiltres" href="#filtresDate">Recherche par date</a>

					</h3>
				</div>
				<div id="filtresDate" class="panel-collapse collapse">
					<div class="panel-body">
						<p>
							<label for = "date">Date </label>
							<input type = "text" id = "date" style = "border: 0">
						</p>
						<div id = "slider"></div>
					<!--
						<div class="date">
							<form class="form-inline" id="form_date">
								<label class="mr-sm-2" for="sel_cond_date">Condition</label> <br>
								<select class="form-control mb-2 mr-sm-2 mb-sm-0" id="sel_cond_date">
									<option value="a">à</option>
									<option value="entre">entre</option>
									<option value="avant">avant</option>
									<option value="apres">après</option>
								</select>

								<input type="date" class="form-control input-sm" placeholder="aaaa-mm-jj" id="date1">

							</form>
						</div>
					-->
				</div>
			</div>
		</div>
	</div>

		<!--
		<div class="panel-group">  
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">
						<a data-toggle="collapse" id="showFiltres" href="#filtresJur">Recherche par juridiction </a>
					</h3>
				</div>
				<div id="filtresJur" class="panel-collapse collapse">
					<div class="panel-body">

					</div>
				</div>
			</div>
		</div>
	-->
	<div class="panel-group">  
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">
					<a data-toggle="collapse" id="showFiltres" href="#filtresVille">Recherche par ville </a>
				</h3>
			</div>
			<div id="filtresVille" class="panel-collapse collapse">
				<div class="panel-body">
					<div class="btn-group selection">
						<button id="selectAllV" type="button" class="btn btn-sm btn-info">Tout sélectionner</button>
						<button  id="deselectAllV" type="button" class="btn btn-sm btn-info">Tout désélectionner</button>
					</div>
					<div class="villes">
						{% for v in villes %}
						<div class="villes checkbox">
							<label><input type="checkbox" name="ville" value="{{v[1]}}">{{v[1]}} ({{v[0]}})</label>
						</div>
						{% endfor %}

							<!--						
							<div id="map" style="width: 320px; height:300px;"></div> -->
							

						</div>

					</div>
				</div>
			</div>
		</div>

	</div>




	<script type="text/javascript" src="../static/js/script.js">

	</script>
	<script type="text/javascript">
		function openDescription(text){
			//console.log(text.title);
			document.getElementById("content").innerHTML = text.title;
			$("#dialog-description").dialog(
			{
				title: "Decision",
				resizable: false,
				width: 800,
				height: 600,
				//position: { my: 'top', at: 'top', of: this },
				modal: true,
				buttons: {
					"Fermer":{ 
						text: "Fermer",
						class: "btn btn-info",
						click: function() {
							$( this ).dialog( "close" );
						}
					}
				}

			}).dialog("open");

		};
		

	</script>

	{% endblock %}