{% extends "layout.html" %}
{% block content %}
<br>
<div class="alert alert-info" id="resultat" style="display: none;" role="alert"></div>

<div id="tree_map">
</div>
<div id="popup"></div>
<br>

<div class="panel-group">  
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">
				<a data-toggle="collapse" id="showFiltres" href="#resultats_recherche">Tableau de résultats </a>

			</h3>
		</div>
		<div id="resultats_recherche" class="panel-collapse collapse">

			<div class="panel-body" id="panel-show-data">

				<table class="table table-condensed text-center ">
					<thead>
						<td>RG</td>
						<td>Ville</td>
						<td>Date</td>
						<td>Juridiction</td>
						<td>Quantum demandé</td>
						<td>Quantum resultat</td>
						<td>Objet</td>
						<td>Norme</td>
						<td>Resultat</td>
						<td>Description</td>

					</thead>
					<tbody id="tbody">
						{% for d in data %} 
						<tr>
							<td>{{d[1]}}</td>
							<td>{{d[2]}}</td>
							<td>{{d[3]}}</td>
							<td>{{d[4]}}</td>							
							<td>{{d[7]}}</td>
							<td>{{d[8]}}</td>
							<td>{{d[14]}}</td>
							<td>{{d[16]}}</td>
							<td>{{d[9]}}</td>
							<td> <a href="#" title="{{d[5]}}" onclick="openDescription(this)">Voir</a> </td>
						</tr>
						{% endfor %}
					</tbody>
				</table>

				<ul class="pagination justify-content-center" id="pagination">
					
				</ul>

			</div>
		</div>
	</div>
</div>


<div id="dialog-description" style="display:none;">
	<pre id="content"></pre>
</div>


<div id="dialog-quantum" style="display:none;">
	<div id="histogram">
	</div>
</div>

<div id="dialog-filtres" style="display:none;">
	<div  style="position:relative; display: inline;" >
		Trier par
		<input type="radio" name="sortTree" id="sortTreeCategorie" value="categories" checked />  categories  
		<input type="radio" name="sortTree" id="sortTreeVille" value="villes" />  villes

		<button id="clearFiltres" style="position:relative; left:43%;" class="btn btn-sm btn-info">Réinitialiser tout</button>
	</div>					
	<br>
	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#tabMotCle">Mot-clé</a></li>
		<li><a data-toggle="tab" href="#tabDate">Date</a></li>
		<li><a data-toggle="tab" href="#tabVilles">Ville</a></li>					
	</ul>

	<div class="tab-content">
		<div id="tabMotCle" class="tab-pane fade in active">
			<br>
			<input type="text" class="form-control input" id="searchByKW">
		</div>

		<div id="tabVilles" class="tab-pane fade">
			<div class="btn-group selection">
				<button id="selectAllV" type="button" class="btn btn-sm btn-info">Tout sélectionner</button>
				<button  id="deselectAllV" type="button" class="btn btn-sm btn-info">Tout désélectionner</button>
			</div>
			<div class="villes" id="map" style="left: 12%; position: relative;">
			</div>

			<div class="panel-group">  
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							<a data-toggle="collapse" id="showFiltres" href="#compareVilles">Comparaison des groupes de villes </a>
						</h3>
					</div>
					<div id="compareVilles" class="panel-collapse collapse">
						<div class="panel-body">
							
							<button id="createGroupe" type="button" class="btn btn-info">Créér un groupe</button>
							
							<div id="groups"></div>
						</div>
					</div>
				</div>
			</div>	
		</div>
		<div id="tabDate" class="tab-pane fade">
			<p>
				<label for = "date">Date </label>
				<input type = "text" id = "date" style = "border: 0">
			</p>
			<div id = "slider"></div>
		</div>
	</div>
</div>


<script type="text/javascript" src="../static/js/script.js">

</script>
<script type="text/javascript">
	function openDescription(text){
		document.getElementById("content").innerHTML = text.title;
		$("#dialog-description").dialog(
		{
			title: "Decision",
			resizable: false,
			width: 800,
			height: 600,
			modal: true,
			buttons: {
				"Fermer":{ 
					text: "Fermer",
					class: "btn btn-info",
					click: function() {
						$( this ).dialog( "close" );
					}
				}
			}

		}).dialog("open");

	};
	
</script>

{% endblock %}