{% extends "layout.html" %}
{% block content %}
<br>
<div class="panel-group">  
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">
				<a data-toggle="collapse" id="showFiltres" href="#filtres"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Filtres</a>

			</h3>
		</div>
		<div id="filtres" class="panel-collapse collapse">

			<div class="panel-body">

				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" id="motCle" href="#tabMotCle">Mot-clé</a></li>
					<li><a data-toggle="tab" id="jur" href="#tabJur">Juridiction</a></li>
					<li><a data-toggle="tab" id="villes" href="#tabVilles">Villes</a></li>
					<li><a data-toggle="tab" id="date" href="#tabDate">Date</a></li>
					<!-- optionel -->
					<li><a data-toggle="tab" id="categories" href="#tabCategories">Catégories</a></li>
					
					<li><a data-toggle="tab" id="quantumDemande" href="#tabQuantumDemande">Quantum demandé</a></li>
					<li><a data-toggle="tab" id="quantumResultat" href="#tabQuantumResultat">Quantum resultat</a></li>
					<li><a data-toggle="tab" id="resultats" href="#tabResultats">Resultats</a></li>

				</ul>

				<div class="tab-content">
					<div id="tabCategories" class="tab-pane fade ">
						<div class="btn-group selection">
							<button id="selectAll" type="button" class="btn btn-sm btn-info">Tout sélectionner</button>
							<button  id="deselectAll" type="button" class="btn btn-sm btn-info">Tout désélectionner</button>
						</div>
						<div class="categories">
							{% for c in categories %}
							<div class="categories checkbox">
								<label><input type="checkbox" value="{{c[1]}}">{{c[1]}} ({{c[0]}})</label>
							</div>
							{% endfor %}

						</div>
						<button type="button" id="searchByCategory" class="btn btn-primary search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Rechercher</button>	
					</div>
					<div id="tabVilles" class="tab-pane fade">
						<div class="btn-group selection">
							<button id="selectAllV" type="button" class="btn btn-sm btn-info">Tout sélectionner</button>
							<button  id="deselectAllV" type="button" class="btn btn-sm btn-info">Tout désélectionner</button>
						</div>
						<div class="villes">
							{% for v in villes %}
							<div class="villes checkbox">
								<label><input type="checkbox" name="ville" value="{{v[1]}}">{{v[1]}} ({{v[0]}})</label>
							</div>
							{% endfor %}

						</div>
						<button id="searchByCity" type="button" class="btn btn-primary search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Rechercher</button>

					</div>
					<div id="tabQuantumDemande" class="tab-pane fade">
						<br>
						<form class="form-inline">
							<div class="form-group">
								<label class="sr-only"></label>
								<p class="form-control-static"><b>Quantum demandé:</b> entre </p>
							</div>
							<div class="form-group">
								<div class="input-group">
									<input type="text" class="form-control input-sm" id="quantumD">
									<div class="input-group-addon">€</div>
								</div>
								<p class="form-control-static"> et </p>

								<div class="input-group">
									<input type="text" class="form-control input-sm" id="quantumD">
									<div class="input-group-addon">€</div>
								</div>
							</div>
							<br><br>
							<button type="submit" class="btn btn-primary search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Rechercher</button>
						</form>

					</div>

					<div id="tabQuantumResultat" class="tab-pane fade">
						<br>
						<form class="form-inline">
							<div class="form-group">
								<label class="sr-only"></label>
								<p class="form-control-static"><b>Quantum resultat:</b> entre </p>
							</div>
							<div class="form-group">
								<div class="input-group">
									<input type="text" class="form-control input-sm" id="quantumR">
									<div class="input-group-addon">€</div>
								</div>
								<p class="form-control-static"> et </p>

								<div class="input-group">
									<input type="text" class="form-control input-sm" id="quantumR">
									<div class="input-group-addon">€</div>
								</div>
							</div>
							<br><br>
							<button type="submit" class="btn btn-primary search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Rechercher</button>
						</form>
					</div>	
					<div id="tabResultats" class="tab-pane fade">
						<br>
						<div class="resultats">
							<div class="resultats checkbox">
								<label><input type="checkbox" value="accepte">accepté</label>
							</div>
							<div class="resultats checkbox">
								<label><input type="checkbox" value="rejette">rejetté</label>
							</div>
							<div class="resultats checkbox">
								<label><input type="checkbox" value="sursis à statuer">sursis à statuer</label>
							</div>						
						</div>
						<br>
						<button id="searchByResultat" type="button" class="btn btn-primary search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Rechercher</button>
					</div>

					<div id="tabMotCle" class="tab-pane fade in active">
						<br>
						<div class="motCle">
							<input type="text" class="form-control input" id="searchByKW">
						</div>
						<br>
						
						<button id="searchByKeyWord" type="button" class="btn btn-primary search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Rechercher</button>
					</div>

					<div id="tabDate" class="tab-pane fade">
						<br>
						<div class="date">
							<form class="form-inline" id="form_date">
								<label class="mr-sm-2" for="sel_cond_date">Condition</label>
								<select class="form-control mb-2 mr-sm-2 mb-sm-0" id="sel_cond_date">
									<option value="a">à</option>
									<option value="entre">entre</option>
									<option value="avant">avant</option>
									<option value="apres">après</option>
								</select>

								<input type="date" class="form-control input-sm" placeholder="aaaa-mm-jj" id="date1">
								
							</form>

							<br>

						</div>
						<button id="searchByDate" type="button" class="btn btn-primary search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Rechercher</button>
					</div>

					<div id="tabJur" class="tab-pane fade">
						<br>
						<div class="jur">
							<!--<input type="text" class="form-control input" id="searchByJr">-->
							<br>

						</div>
						<button id="searchByJur" type="button" class="btn btn-primary search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Rechercher</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="btn-group" id="fltrCategories" style="display:none;">
	
	<button id="showCategories" class="btn btn-primary" >Categories</button> <!-- style="display:none;" -->
	<button id="editCategories"  title="Modifier" class="btn btn-info"> <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> </button> 
	<button id="removeCategories" title="Supprimer" class="btn  btn-info"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </button>
	
</div>
<div class="btn-group" id="fltrVilles" style="display:none;">
	
	<button id="showVilles" class="btn btn-primary" >Villes</button> <!-- style="display:none;" -->
	<button id="editVilles"  title="Modifier" class="btn btn-info"> <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> </button> 
	<button id="removeVilles" title="Supprimer" class="btn  btn-info"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </button>
	
</div>
<div class="btn-group" id="fltrDate" style="display:none;">
	
	<button id="showDate" class="btn btn-primary">Date</button> <!-- style="display:none;" -->
	<button id="editDate"  title="Modifier" class="btn btn-info"> <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> </button> 
	<button id="removeDate" title="Supprimer" class="btn  btn-info"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </button>
	
</div>

<div class="btn-group" id="fltrQuantumD" style="display:none;">
	
	<button id="showQuantumD" class="btn btn-primary" >Quantum demandé</button> <!-- style="display:none;" -->
	<button id="editQuantumD" title="Modifier" class="btn btn-info"> <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> </button> 
	<button id="removeQuantumD" title="Supprimer" class="btn  btn-info"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </button>
	
</div>

<div class="btn-group" id="filtrQuantumR" style="display:none;">						
	<button id="showQuantumR" class="btn btn-primary">Quantum resultat</button> <!-- style="display:none;" -->
	<button id="editQuantumR"  title="Modifier" class="btn btn-info"> <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> </button> 
	<button id="removeQuantumR" title="Supprimer" class="btn  btn-info"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </button>
	
</div>

<div class="btn-group" id="fltrResultats" style="display:none;">
	<button id="showResultats" class="btn btn-primary" >Resultats</button> <!-- style="display:none;" -->
	<button id="editResultats"  title="Modifier" class="btn btn-info"> <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> </button> 
	<button id="removeResultats" title="Supprimer" class="btn  btn-info"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </button>
	
</div>

<button id="clearAll" class="btn btn-primary" style="display:none;">Tout effacer</button> <!-- style="display:none;" -->

<!--<br><br>-->
<br><br>
<div class="alert alert-info" id="resultat" style="display: none;" role="alert"></div>

<div class="panel-group">  
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">
				<a data-toggle="collapse" id="showFiltres" href="#resultats_recherche">Résultats de recherche</a>

			</h3>
		</div>
		<div id="resultats_recherche" class="panel-collapse collapse">

			<div class="panel-body">


				<table class="table table-condensed text-center ">
					<thead>
						<td>RG</td>
						<td>Ville</td>
						<td>Date</td>
						<td>Juridiction</td>
						<td>Description</td>
						<td>Quantum demandé</td>
						<td>Quantum resultat</td>
						<td>Catégorie</td>
						<td>Resultat</td>

					</thead>
					<tbody id="tbody">
						{% for d in data %} 
						<tr>
							<td>{{d[1]}}</td>
							<td>{{d[2]}}</td>
							<td>{{d[3]}}</td>
							<td>{{d[4]}}</td>
							<td>{{d[5]}}</td>
							<td>{{d[7]}}</td>
							<td>{{d[8]}}</td>
							<td>{{d[9]}}</td>
							<td>{{d[10]}}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>

			</div>
		</div>
	</div>
</div>

<div id="tree_map">
</div>
<div id="popup"></div>

<br>




<script type="text/javascript">
	queue()
	.defer(d3.json, "/all_decisions/")
	.await(makeGraphs);

	function makeGraphs(error,recordsJson) {
		if(error) console.log(error);

		console.log(recordsJson);
		build_tree(recordsJson);

		document.getElementById("deselectAll").onclick = function() {deselectAll("categories")};
		document.getElementById("selectAll").onclick = function() {selectAll("categories")};
		document.getElementById("deselectAllV").onclick = function() {deselectAll("villes")};
		document.getElementById("selectAllV").onclick = function() {selectAll("villes")};

		document.getElementById("removeCategories").onclick = function() {
			deselectAll("categories");
			document.getElementById("searchByCategory").click();

		};

		document.getElementById("editCategories").onclick = function() {
			editFilters("categories");
		};

		document.getElementById("removeVilles").onclick = function() {
			deselectAll("villes");
			document.getElementById("searchByCity").click();

		};

		document.getElementById("editVilles").onclick = function() {
			editFilters("villes");	
		};

		document.getElementById("removeResultats").onclick = function() {
			deselectAll("resultats");
			document.getElementById("searchByResultat").click();

		};

		document.getElementById("editResultats").onclick = function() {
			editFilters("resultats");

		};

		document.getElementById("removeDate").onclick = function() {
			var res1 = document.getElementById("date1");
			var res2 = document.getElementById("date2");
			if(res2!=null){
				res2.value = "";
			}
			res1.value = "";
			date = [];
			search();
			document.getElementById("fltrDate").style = "display:none";
			//document.getElementById("searchByDate").click();

		};

		document.getElementById("editDate").onclick = function() {
			editFilters("date");

		};

		document.getElementById("sel_cond_date").onchange = function() {
			var inputDate = document.createElement("input");
			var parentNode = document.getElementById("form_date");
			if(this.value=="entre"){
				inputDate.className = "form-control input-sm";
				inputDate.type = "date";
				inputDate.id = "date2";
				inputDate.placeholder = "aaaa-mm-jj";
				parentNode.appendChild(inputDate);
			} else{
				var child = document.getElementById("entre_date");
				
				if(child!=null){
					console.log("remove "+child);

					parentNode.removeChild(child);
				}
			}
		};


		function editFilters(type){
			var isExpanded = $("#filtres").attr("aria-expanded");

			if(isExpanded == 'false')
			{
				document.getElementById("showFiltres").click();
			}
			document.getElementById(type).click();

		}

		function deselectAll(type) {
			$('input:checkbox', "."+type).prop('checked', false);
		}


		function selectAll(type) {
			$('input:checkbox', "."+type).prop('checked', true);
		}

		categories = [];
		villes = [];
		quantumD = [];
		quantumR = [];
		resultats = [];
		date = [];

		$('#searchByDate').click(function(){
			date = [];

			var cond_date = document.getElementById("sel_cond_date").value;
			var res1 = document.getElementById("date1").value;
			console.log(res1);
			date.push(cond_date);

			if (cond_date == "entre"){
				var res2 = document.getElementById("date2").value;
				date.push(res2);
			}
			date.push(res1);
			console.log(date.length);

			if(res1 == ""){
				document.getElementById("fltrDate").style = "display:none";
			}else{
				document.getElementById("fltrDate").style = "display:";

			}
			if(res1!=""){
				search();

			}
			
		});

		$('#searchByResultat').click(function(){
			resultats = [];
			$("input[type=checkbox]:checked", ".resultats").each ( function() {
				console.log($(this).val());
				resultats.push($(this).val());

			});

			if(resultats.length == 0){
				document.getElementById("fltrResultats").style = "display:none";
			}else{
				document.getElementById("fltrResultats").style = "display:";

			}
			search();

		});

		$("#searchByCategory").click(function() {
			categories=[];

			$("input[type=checkbox]:checked", ".categories").each ( function() {
				console.log($(this).val());
				categories.push($(this).val());

			});
			console.log("categories.length "+categories.length);

			if(categories.length == 0){
				document.getElementById("fltrCategories").style = "display:none";
			}else{
				document.getElementById("fltrCategories").style = "display:";

			}

			search();

		});

		function updateTabel(data){
			var tbody = $('#tbody');
			tbody.empty();
			console.log("updateTabel");
			data.forEach(function(decision) {
				var tr = $('<tr/>').appendTo(tbody);
				tr.append('<td>' + decision[1] + '</td>');
				tr.append('<td>' + decision[2] + '</td>');
				tr.append('<td>' + decision[3] + '</td>');
				tr.append('<td>' + decision[4] + '</td>');
				tr.append('<td>' + decision[5] + '</td>');
				tr.append('<td>' + decision[7] + '</td>');
				tr.append('<td>' + decision[8] + '</td>');
				tr.append('<td>' + decision[9] + '</td>');
				tr.append('<td>' + decision[10] + '</td>');

			})
		};

		function search(){
			$.getJSON($SCRIPT_ROOT + '/search/', {
				categories: JSON.stringify(categories),
				villes: JSON.stringify(villes),
				date: JSON.stringify(date),
				texte: JSON.stringify([]),
				juridiction: JSON.stringify([]),
				quantumD: JSON.stringify(quantumD),
				quantumR: JSON.stringify(quantumR),
				resultat: JSON.stringify(resultats)
			}, function(data){
				var showRes = document.getElementById("resultat");

				if(data.result.length == 0){
					showRes.style="display: ;"
					showRes.innerHTML = "Désolé, aucun résultat ne correspond pas à votre recherche."
				}else{
					showRes.style="display: ;"
					showRes.innerHTML = "Voici <strong>"+ data.result.length+ "</strong> résultat(s) correspondant à votre recherche. "

				}
				console.log(data);
				updateTabel(data.result);

				var div_tree = document.getElementById("tree_map");
				console.log(div_tree);
				div_tree.remove();//(div_tree.childNodes[0]);
			
				var div_tree_n = document.createElement("div");
				var parentNode = document.getElementById("popup");
				div_tree_n.id = "tree_map"
				parentNode.appendChild(div_tree_n);
			
				build_tree(data);
		        // $( "table" ).text(data.result);
		    });

		}

		$("#searchByCity").click(function() {
			villes=[];

			$("input[type=checkbox]:checked", ".villes").each ( function() {
				console.log($(this).val());
				villes.push($(this).val());

			});

			if(villes.length == 0){
				document.getElementById("fltrVilles").style = "display:none";
			}else{
				document.getElementById("fltrVilles").style = "display:";

			}
			search();



/*
		$.getJSON($SCRIPT_ROOT + '/searchByCity/', {
		        villes: JSON.stringify(villes)
		    }, function(data){
		    	updateTabel(data.result);
		        // $( "table" ).text(data.result);
		    });

		    */

		});
/*
	function updateTabel(data){
		var tbody = $('#tbody');
		tbody.empty();
		console.log("updateTabel");
		data.forEach(function(decision) {
			var tr = $('<tr/>').appendTo(tbody);
			tr.append('<td>' + decision[1] + '</td>');
			tr.append('<td>' + decision[2] + '</td>');
			tr.append('<td>' + decision[3] + '</td>');
			tr.append('<td>' + decision[4] + '</td>');
			tr.append('<td>' + decision[6] + '</td>');
			tr.append('<td>' + decision[7] + '</td>');
			tr.append('<td>' + decision[8] + '</td>');
			tr.append('<td>' + decision[9] + '</td>');
			
		})
	};
	*/
	/* Tree map */	
	function build_tree(recordsJson){
		var margin = {top: 20, right: 120, bottom: 20, left: 120},
		width = 960 - margin.right - margin.left,
		height = 800 - margin.top - margin.bottom;

		var i = 0,
		duration = 750,
		root;

		var tree = d3.layout.tree()
		.size([height, width]);

		var diagonal = d3.svg.diagonal()
		.projection(function(d) { return [d.y, d.x]; });

		var svg = d3.select("#tree_map").append("svg")
		//.attr("width", width + margin.right + margin.left)
		//.attr("height", height + margin.top + margin.bottom)
		.attr("width", "100%")
		.attr("height", "800px")
		.call(d3.behavior.zoom().on("zoom", function () {
			svg.attr("transform", "translate(" + d3.event.translate + ")" + " scale(" + d3.event.scale + ")")
		}))
		.append("g")
		.attr("transform", "translate(" + margin.left + "," + margin.top + ")");
		//d3.select("#tree_map").on('mousedown.drag', null);

		root = recordsJson;
		root.x0 = height / 2;
		root.y0 = 200;

		function collapse(d) {
			if (d.children) {
				d._children = d.children;
				d._children.forEach(collapse);
				d.children = null;
			}
		}

		root.children.forEach(collapse);
		update(root);

		var div = d3.select("body").append("div")	
		.attr("class", "tooltip")				
		.style("opacity", 0);


		d3.select(self.frameElement).style("height", "800px");

		function update(source) {

	  // Compute the new tree layout.
	  var nodes = tree.nodes(root).reverse(),
	  links = tree.links(nodes);

	  // Normalize for fixed-depth.
	  nodes.forEach(function(d) { d.y = d.depth * 180; });

	  // Update the nodes…
	  var node = svg.selectAll("g.node")
	  .data(nodes, function(d) { return d.id || (d.id = ++i); });

	  // Enter any new nodes at the parent's previous position.
	  var nodeEnter = node.enter().append("g")
	  .attr("class", "node")
	  .attr("transform", function(d) { return "translate(" + source.y0 + "," + source.x0 + ")"; })
	  .on("click", click);
	  
	  function colores(n) {
	  	var colores_g = ["#3366cc", "#dc3912", "#ff9900", "#109618", "#990099", "#0099c6", "#dd4477", "#66aa00", "#b82e2e", "#316395", "#994499", "#22aa99", "#aaaa11", "#6633cc", "#e67300", "#8b0707", "#651067", "#329262", "#5574a6", "#3b3eac"];
	  	return colores_g[Math.round(Math.random() * (colores_g.length-1))];
	  }

	  nodeEnter.append("circle")
	  .attr("r", 1e-6)
	  //.attr("cx", d3.scale.linear().domain([-1, 20]).range([0, 400]) )
	  .style("fill", function(d) { return d._children ? colores() : "#fff"; });
	  //.style('stroke', function(d) { return colores(); });

	  nodeEnter.append("text")
	  .attr("x", function(d) { return d.children || d._children ? -20 : 20; })
	  .attr("dy", ".30em")
	  .attr("text-anchor", function(d) { return d.children || d._children ? "end" : "start"; })
	  .text(function(d) { return d.name; })
	  .style("fill-opacity", 1e-6);

	  // Transition nodes to their new position.
	  var nodeUpdate = node.transition()
	  .duration(duration)
	  .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; });

	  nodeUpdate.select("circle")
	  .attr("r",  function(d) { return d.children || d._children ? 10 : 8; })
	  .style("fill", function(d) { return d._children ? colores() : "#fff"; });

	  nodeUpdate.select("text")
	  .style("fill-opacity", 1);

	  // Transition exiting nodes to the parent's new position.
	  var nodeExit = node.exit().transition()
	  .duration(duration)
	  .attr("transform", function(d) { return "translate(" + source.y + "," + source.x + ")"; })
	  .remove();

	  nodeExit.select("circle")
	  .attr("r", 1e-6);

	  nodeExit.select("text")
	  .style("fill-opacity", 1e-6);

	  // Update the links…
	  var link = svg.selectAll("path.link")
	  .data(links, function(d) { return d.target.id; });

	  // Enter any new links at the parent's previous position.
	  link.enter().insert("path", "g")
	  .attr("class", "link")
	  .attr("d", function(d) {
	  	var o = {x: source.x0, y: source.y0};
	  	return diagonal({source: o, target: o});
	  });

	  
	  //stroke links
	  //var stroke = 1;
	  link.style('stroke-width', function(d) {
	  	var tostroke = d.target.nb;
	  	var stroke = '';
	  	if( tostroke!='undefined' && tostroke > 200){
	  		stroke = tostroke/22;
	  	} else  if(tostroke < 100 && tostroke > 10){
	  		stroke = tostroke/5;
	  	}else  if(tostroke < 200 && tostroke > 100){
	  		stroke = tostroke/10;
	  	}
	  	return stroke+"px";
	  });

	  link.style('stroke', function(d) { return colores(); });
	  
	  link.on("mouseover", function(d) {
	  	//console.log(this);
	  	this.style.opacity = 1;
	  	if (d.target.nb!='undefined'){	
	  		div.transition()		
	  		.duration(200)		
	  		.style("opacity", .9);		
	  		div	.html(d.target.nb + "<br/>")	
	  		.style("left", (d3.event.pageX) + "px")		
	  		.style("top", (d3.event.pageY - 28) + "px");	

	  	}
	  })
	  .on("mouseout", function(d) {	
	  	this.style.opacity = 0.5;

	  	div.transition()		
	  	.duration(500)		
	  	.style("opacity", 0) });

	 //link.style('stroke-width', "2.2px");  

	  // Transition links to their new position.
	  link.transition()
	  .duration(duration)
	  .attr("d", diagonal);

	  // Transition exiting nodes to the parent's new position.
	  link.exit().transition()
	  .duration(duration)
	  .attr("d", function(d) {
	  	var o = {x: source.x, y: source.y};
	  	return diagonal({source: o, target: o});
	  })
	  .remove();

	  // Stash the old positions for transition.
	  nodes.forEach(function(d) {
	  	d.x0 = d.x;
	  	d.y0 = d.y;
	  });
	}


	// When the user clicks on div, open the popup

	// Toggle children on click.
	function click(d) {
		if (d.children) {
			d._children = d.children;
			d.children = null;
		} else {
			d.children = d._children;
			d._children = null;
		}
		update(d);
	}

}
};
</script>

{% endblock %}